<a href="https://colab.research.google.com/github/Chioma-Nwandiko/quiz/blob/master/StageB_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Wrangling**

In [3]:
#importing all necessary packages 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
# importing the energy datasets
sheet='https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
data_set=pd.read_csv(sheet)

**Exploratory Data Analysis**

In [9]:
# checking for null values in each column

data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [6]:
#finding the number of rows and columns

data_set.shape

(19735, 29)

In [8]:
#checking the statistics of the dataset

data_set.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [14]:
#dropping the date and light columns

data_set.drop(['date','lights'], axis=1, inplace= True)

# **Preprocessing**

**Normalising-MinMaxScaler**

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaler= MinMaxScaler()

#normalising the dataset
normalised_ds= pd.DataFrame(scaler.fit_transform(data_set), columns=data_set.columns)

**Question 12**

In [19]:
from sklearn.linear_model import LinearRegression

linear_model= LinearRegression()

x=normalised_ds[['T2']]
y=normalised_ds[['T6']]

from sklearn.model_selection import train_test_split
x12_train, x12_test, y12_train, y12_test= train_test_split(x,y, test_size=0.3, random_state=42)

print(x12_train.shape)
print(x12_test.shape)

(13814, 1)
(5921, 1)

In [21]:
linear_model.fit(x12_train, y12_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
y12_pred= linear_model.predict(x12_test)

In [25]:
from sklearn.metrics import r2_score

R2_12= r2_score(y12_test, y12_pred)
print(round(R2_12, 2))

0.64

In [26]:
#Splitting the dataset into Target Variable(dependent) and Feature Variable(indepedent)

#independent
features= normalised_ds.drop(['Appliances'], axis=1)

#dependent
target= normalised_ds['Appliances']

In [27]:
#splitting the data into training and test set

x_train, x_test, y_train, y_test= train_test_split(features, target, test_size=0.3, random_state=42)

print('Size of training set:', x_train.shape)
print('Size of test set:', x_test.shape)

Size of training set: (13814, 26)
Size of test set: (5921, 26)

In [29]:
#import library for linear regression

from sklearn.linear_model import LinearRegression 

#creating a classifier

linear_model= LinearRegression()

#training the model

linear_model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
#predicition on test data

y_pred= linear_model.predict(x_test)

**Question 13**

In [31]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
import numpy as np
#MAE

M_A_E= mean_absolute_error(y_test, y_pred)

print(round(M_A_E, 2))

0.05

 **Question 14**

In [32]:
#RSS

R_S_S= np.sum(np.square(y_test-y_pred))

print(round(R_S_S, 2))

45.35

**Question 15**

In [37]:
#RMSE

R_M_S_E= np.sqrt(mean_squared_error(y_test, y_pred))

print(round(R_M_S_E, 3))

0.088

**Question 16**

In [36]:
#R2

R2= r2_score(y_test, y_pred)

print(round(R2, 2))

0.15

**Question 17**

In [39]:
pd.DataFrame( linear_model.coef_, features.columns, columns=['Coefficient']).sort_values(by='Coefficient')

             Coefficient
RH_2           -0.456698
T_out          -0.321860
T2             -0.236178
T9             -0.189941
RH_8           -0.157595
RH_out         -0.077671
RH_7           -0.044614
RH_9           -0.039800
T5             -0.015657
T1             -0.003281
rv1             0.000770
rv2             0.000770
Press_mm_hg     0.006839
T7              0.010319
Visibility      0.012307
RH_5            0.016006
RH_4            0.026386
T4              0.028981
Windspeed       0.029183
RH_6            0.038049
RH_3            0.096048
T8              0.101995
Tdewpoint       0.117758
T6              0.236425
T3              0.290627
RH_1            0.553547

In [41]:
#importing the necessary libraries

from sklearn.linear_model import Ridge
ridgeReg= Ridge(alpha=0.4)

#training
ridgeReg.fit(x_train,y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [42]:
#predicting
y_ridge=ridgeReg.predict(x_test)

**Question 18**

In [46]:
#RMSE- Ridge

R_M_S_E_RR= np.sqrt(mean_squared_error(y_test, y_ridge))

print(round(R_M_S_E_RR, 3))

0.088

In [47]:
# importing the necessary libraries

from sklearn.linear_model import Lasso
lassoReg= Lasso(alpha=0.001)

#training
lassoReg.fit(x_train,y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [50]:
#predicting

y_lasso= lassoReg.predict(x_test)

**Question 19**

In [51]:
pd.DataFrame( lassoReg.coef_, features.columns, columns=['Coefficient']).sort_values(by='Coefficient')

             Coefficient
RH_out         -0.049557
RH_8           -0.000110
T1              0.000000
Tdewpoint       0.000000
Visibility      0.000000
Press_mm_hg    -0.000000
T_out           0.000000
RH_9           -0.000000
T9             -0.000000
T8              0.000000
RH_7           -0.000000
rv1            -0.000000
T7             -0.000000
T6              0.000000
RH_5            0.000000
T5             -0.000000
RH_4            0.000000
T4             -0.000000
RH_3            0.000000
T3              0.000000
RH_2           -0.000000
T2              0.000000
RH_6           -0.000000
rv2            -0.000000
Windspeed       0.002912
RH_1            0.017880

**Question 20**

In [53]:
#RMSE-Lasso

R_M_S_E_LR= np.sqrt(mean_squared_error(y_test, y_lasso))

print(round(R_M_S_E_LR, 3))

0.094